<div class="container-fluid mt-4">
    <h2>Usuarios</h2>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success">
            <i class="fa-solid- fa-plus">
                Registrar Usuario
            </i>
        </button>
    </div>

    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr style="text-align: center;">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td>social</td>
        </tr>
    </tbody>
    </table>
    <>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td>social</td>
        </tr>
        <tbody style="text-align-conter;">
            <tr>
                <th>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </th>
            </tr>
        </tbody>
    </tbody>
</div>