.app-container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}/* You can add global styles to this file, and also import other style files */
main{
    flex-grow: 1;
}
footer{
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
navbar{
    
}
